* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

header {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y el contenedor de user-info */
    align-items: center; /* Alineación vertical centrada */
    padding: 10px 20px;
    background-color: #333; /* Color de fondo del header */
    color: white; /* Color del texto */
}

.nav-container {
    display: flex;
    justify-content: center; /* Centra los elementos blancos */
    flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

.nav-item {
    background-color: white; /* Fondo blanco */
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.user-info {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    margin-left: auto; /* Empuja el contenedor a la derecha */
}

.user-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.user-info span {
    margin-right: 20px; /* Espacio entre el texto y el enlace */
}

.user-info a {
    color: #3498db; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.user-info a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos del header equitativamente */
    align-items: center; /* Alineación vertical de los elementos */
    padding: 10px 20px; /* Espaciado interno del contenedor */
    background-color: #333; /* Color de fondo del header */
}

.logo {
    flex-shrink: 0; /* Evita que el logo se encoja */
}

.logo img {
    width: 100px; /* Ajusta el tamaño del logo a 100px de ancho */
    height: auto; /* Mantiene la proporción del logo */
}